@charset "utf-8";
/* CSS Document */

.rightNav{ position:fixed;width:170px;right:0; top:15%;_position:absolute;text-align:left;cursor:pointer;background-image:url(about:blank);}
.rightNav .bigfix{ margin-right:110px; }

.rightNav .smallfix{ opacity:.8; color:#333; text-decoration:none; outline:none;display:block;position:relative;height:60px;
				line-height:60px;margin-bottom:2px;background:#fff; padding-right:10px;width:170px;overflow:hidden;cursor:pointer;right:-110px;}
.rightNav .smallfix:hover{ color:#f00; text-decoration:underline;text-decoration:none; color:#1974A1;  }
.rightNav .smallfix:hover em{ background:#00b700}
.rightNav .smallfix em{ display:block; float:left; width:60px; background:#1974A1; color:#fff; font-size:16px; text-align:center; margin-right:10px;}